<!DOCTYPE html>
<html lang="en">
  <head>
<style>.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 13px;
</style>
    <!-- starting seo  -->
  <meta name="description" content="Lecturer's side">
  <meta name="keywords" content="Prof,Savaş,Erdem,inşaat,concrete,student,homework,structural,civil,engineer,university,istanbul,help,
lecturer,question,soru,üniversite,öğrenci,ödev">
  <meta name="author" content="Halil ibrahim YILDIRIM">
    <meta name="robots" content="index,follow">
    <meta charset="UTF-8" name="viewport" content="width=device-width, inital-scale=1">
    <!-- ending seo -->
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <title>Assistants</title>
</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Assoc. Prof. Savaş Erdem</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/"><i class="fas fa-home"></i>  Homepage   </a>
        </li>	&nbsp;	&nbsp;
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/homeworks"><i class="fas fa-book-reader"></i>  Homeworks  </a>
        </li>&nbsp;	&nbsp;
           <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/teaching"><i class="fas fa-chalkboard-teacher"></i>   Teaching   </a>
        </li>&nbsp;	&nbsp;
           <li class="nav-item active">
          <a class="nav-link" href="http://127.0.0.1:8000/assistants"><i class="fas fa-user-graduate"></i><span class="sr-only">(current)</span>    Assistants  </a>
        </li>&nbsp;	&nbsp;
          <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/researches"><i class="fab fa-searchengin"></i>   Researches  </a>
        </li>&nbsp;	&nbsp;
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/publications"><i class="fas fa-book"></i>   Publications   </a>
        </li>&nbsp;	&nbsp;
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/contact"><i class="fas fa-envelope"></i>   Contact  </a>
        </li>
      </ul>{% if user.is_authenticated %}<form class="form-inline my-2 my-lg-0" action="http://127.0.0.1:8000/panel" method="post">{% csrf_token %}
        <button class="btn btn-info" type="submit" >Userpanel</button></form>{% endif %}
    </div>
  </nav>
<br />
<!-- Main -->
<div class="row">

      {% for me in read %}
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="{{ me.photo }}" width="200" height="200" alt="">
      <h5>{{ me.name }}
        <small>{{ me.duty }}</small>
      </h5>
      <p>{{ me.detail }}</p>
    </div>
{% endfor %}
</div>
 <!-- /.main -->

 <!-- Footer -->
  <div class="footer"><i class="fas fa-code"></i>&nbsp;<i class="fab fa-html5"></i>&nbsp;<i class="fab fa-css3"></i>&nbsp;Proudly developed by <b>Halil İbrahim YILDIRIM</b> <a href="https://www.linkedin.com/in/halil-yildirim-25b545b2/" target="_blank"><i class="fab fa-linkedin"></i></a>
   <a href="http://www.haliil.com" target="_blank"><i class="fas fa-link"></i></a> </div>
<!-- /.footer -->
</body>
</html>